@model List<DateTime>

    <select id="date" class="select" onchange="loadTimes(this);">
        @foreach (DateTime date in Model)
        {
            <option value=@date>@date.ToString("m")</option>
        }
    </select>

