@using  Lumiere.ViewModels
@model List<BookingFilmViewModel>

@{
    ViewData["Title"] = "Index";
}

<i class="fa fa-home" id="home" aria-hidden="true"></i>
<h3 class="text-center h3 mb-4">Бронирование билетов</h3>
<hr>

<div class="information container w-75" id="information">
    <div id="options" class="d-flex justify-content-around">
        <select id='film' class="select" onchange="loadDates(this);">
            @foreach (BookingFilmViewModel bookingFilm in Model)
            {
                <option value=@bookingFilm.FilmId>@bookingFilm.FilmName</option>
            }
        </select>

        <select id="date" class="select" onchange="loadTimes(this);">
        </select>

        <select id="time" class="select">
        </select>

        <select id="roomNumber" class="select">

        </select>
    </div>
    <table id="places">
        <tr>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
        </tr>
        <tr>
            <td id="checkbox"><input class="check" oninput="f()" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" oninput="f()" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" oninput="f()" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" oninput="f()" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" oninput="f()" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
        </tr>

        <tr>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
        </tr>

        <tr>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
        </tr>

        <tr>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
            <td id="checkbox"><input class="check" onclick="takePlace(this)" type="checkbox" placeholder="1:1"></td>
        </tr>
    </table>

    <div class="d-flex justify-content-around align-items-center mt-3">
        <table id="table">
            <tbody>
                <tr>
                    <th class="field">Выбрано мест:</th>
                    <td id="number" class="value">
                        <script>
                            document.getElementById('number').innerHTML = count;
                        </script>
                    </td>
                </tr>
                <tr>
                    <th class="field">Стоимость(руб):</th>
                    <td class="value" id="price">
                        500
                    </td>
                </tr>
                <tr>
                    <th class="field">Общая стоимость(руб):</th>
                    <td id="price" class="value">
                        <script>
                            document.getElementById('price').innerHTML = price;
                        </script>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="buy" onclick="book()">Бронировать</button>
        <table id="room">
            <tbody>
                <tr>
                    <th class="field">Зал:</th>
                    <td class="value" id="room_number">
                        2
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <span id="place_help" class="help"></span>
</div>