@model List<DateTime>

    <select id='time' class="select" onchange="loadRoom(this);">
        @foreach(DateTime time in Model)
        {
            <option value=@time>@time.ToString("t")</option>
        }
    </select>