@model Lumiere.ViewModels.CreateSeanceViewModel

<form method="post" asp-controller="Seance" asp-action="Create">
    <input type="date" asp-for="Date"/>
    <input type="time" asp-for="Time"/>
    <input type="number" asp-for="Price"/>
    <input type="submit" value="Добавить" />
</form>