@model List<Lumiere.Models.User>
@inject Lumiere.Repositories.IUserRepository _userRepository

<div class="mb-3 text-center"><span class="h5">Список пользователей</span></div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">e-mail</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Админ</th>
            <th scope="col">Ссылка</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model)
        {
            <tr>
                <td scope="row">@user.Email</td>
                <td>@user.SecondName</td>
                <td>@user.FirstName</td>
                <td>@(await _userRepository.IsInRoleAsync(user, "admin") ? "Да" : "Нет")</td> 
                <td>
                    <a class="text-info" asp-controller="User" asp-action="Edit" asp-route-id=@user.Id>Редактировать</a>
                </td>
                <td>
                    <form method="post" asp-controller="User" asp-action="Delete">
                        <input type="hidden" asp-for=@user.Id/>
                        <button type="submit"><i class="icofont-ui-delete ml-2"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>