<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lumiere</title>

    @await  Html.PartialAsync("StylesPartial")

</head>
<body class="bg-light">
    <div class="container w-75">
        @await Html.PartialAsync("HeaderPartial")
        @await Html.PartialAsync("Posters")

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        @await Html.PartialAsync("FooterPartial")

        @await  Html.PartialAsync("ScriptsPartial")
        @RenderSection("Scripts", required: false)

    </div>
</body>
</html>
