    <footer class="d-flex justify-content-around align-items-center mb-4">
        <div class="d-flex flex-column align-items-center">
            <img class="mb-2" src="/img/location.png" alt="location icon">
            <span>г. Казань,</span><span>ул. Проспект Победы 36</span>
        </div>
        <img src="/img/logo.png" alt="Кинотеатр Люмьер логотип" id="footer--logo">
        <div class="d-flex flex-column align-items-center">
            <img class="mb-3" src="/img/phone.png" alt="location icon">
            <a class="text-dark" href="tel:+79033130270" name="footer">8-800-700-00-00</a>
        </div>
    </footer>
