<footer>
    <div class="d-flex justify-content-around align-items-center mb-4">
        <a asp-controller="Home" asp-action="Index">
            <img src="/img/logo.png" alt="Кинотеатр Люмьер логотип" id="footer--logo">
        </a>
        <div class="d-flex flex-column align-items-center">
            <img class="mb-2" src="~/img/location.png" alt="location icon">
            <span>г. Казань,</span><span>ул. Проспект Победы 36</span>
        </div>
        <div class="d-flex flex-column align-items-center">
            <img class="mb-3" src="~/img/phone.png" alt="location icon">
            <a class="text-dark" href="tel:+79033130270">8-800-700-00-00</a>
        </div>
        <div class="d-flex align-items-center">
            <a href="https://vk.com/id606238890" class="text-decoration-none">
                <i class="icofont-vk mr-2 text-body"></i>
            </a>
            <a href="https://www.instagram.com/lumiere.simbirsoft/" class="text-decoration-none" style="height: 27px;">
                <i class="icofont-instagram text-body"></i>
            </a>
        </div>
    </div>
    <div class="text-center mb-2">
        <small class="text-muted">&copy; 2020 АО "Люмьер"</small>
    </div>
</footer>
