<header class="d-flex justify-content-around align-items-center">
    <a asp-area="" asp-controller="Home" asp-action="Index"></a>
        <img id="logo" src="~/img/logo.png" alt="Кинотеатр Люмьер логотип">
    
    <div class="d-flex flex-column align-items-center">
        <form class="search">
            <input type="search" name="search" placeholder="Поиск по фильмам">
            <button class="search-button" aria-label="Найти на сайте"></button>
        </form>
        <ul class="list-inline m-0 pt-2">
            <li class="list-inline-item pr-4"><a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Афиша</a></li>|
            <li class="list-inline-item pl-4 pr-4"><a class="text-dark">Забронировать</a></li>|
            <li class="list-inline-item pl-4"><a href="#footer" class="text-dark">Контакты</a></li>
        </ul>
    </div>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" asp-controller="Account" asp-action="Logout">
                <i class="icofont-login pr-2"></i>
                <button class="text-dark" type="submit">Выйти</button>
            </form>

        }
        else
        {
            <i class="icofont-login pr-2"></i>
            <a class="text-dark" asp-controller="Account" asp-action="Login">Войти</a>
            <br>
            <a class="text-dark" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
        }
    </div>
            
</header>

