<div class="d-flex justify-content-around shadow">
    <div class="d-flex flex-column justify-content-center text-center">
        <h2>
            Афиша
        </h2>
        <h3 class="h5">
            на 10 июля, пятница
        </h3>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="~/img/img1.jpg" alt="Постер фильма"></div>
            <div class="swiper-slide"><img src="~/img/img2.jpg" alt="Постер фильма"></div>
            <div class="swiper-slide"><img src="~/img/img3.png" alt="Постер фильма"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>