@model Lumiere.ViewModels.FilmViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="container--register">
    <div class="container w-75 mt-5">
        <!-- title -->
        <h4 class="text-center mb-4">Добавить фильм</h4>
        <hr>
        <!-- form -->
        <div class="d-flex justify-content-center">
            <form class="mb-4" style="min-width: 30vw;" enctype="multipart/form-data" method="post" asp-controller="Film" asp-action="Create">
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="Name">Название</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Описание</label>
                    <input type="text" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description"></span>
                </div>

                <div class="form-row d-flex justify-content-center">
                    <div class="form-group col-md-3">
                        <label asp-for="AgeLimit">Ограничение</label>
                        <input type="number" asp-for="AgeLimit" class="form-control" />
                        <span asp-validation-for="AgeLimit"></span>
                    </div>

                    <div class="form-group col" style="max-width: 165px">
                        <label asp-for="ReleaseDate">Дата релиза</label>
                        <input type="date" asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate"></span>
                    </div>

                    <div class="form-group col" style="max-width: 115px">
                        <label asp-for="Duration">Длительность</label>
                        <input type="time" asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="TrailerUrl">Ссылка на трейлер</label>
                    <input type="url" asp-for="TrailerUrl" class="form-control" />
                    <span asp-validation-for="TrailerUrl"></span>
                </div>

                <div class="form-group">
                    <label for="posters">Постеры</label>
                    <input type="file" accept="image/*" multiple name="posters" class="form-control-file" />
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-secondary mt-2" value="Создать" />
                </div>
            </form>
            <br>
        </div>

    <hr />  
    </div>
</div>
