
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<h1>ForgotPasswordConfirmation</h1>

<div>
    <span>Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.</span>
</div>