@model Lumiere.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<div>
    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email"/>
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <input type="submit" value="Отправить" />
        </div>
    </form>
</div>