@model Lumiere.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>ResetPassword</h1>

<div>
    <form method="post" asp-controller="Account" asp-action="ResetPassword">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Token"/>

        <div>
            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="NewPassword">New password</label>
            <input type="password" asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>

        <div>
            <label asp-for="ConfirmPassword">Confirm password</label>
            <input type="password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div>
            <input type="submit" value="Изменить" />
        </div>
    </form>
</div>