
.information{
  margin: 0 auto;
  background: rgba(217, 207, 105, 0.9);
  height: 650px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82)
}

#home{
	position: relative;
	left: 30%;
	top:35px;
}

#film{
	position: relative;
	left: 1%;
}

#options{
	width: 100%;
}

#places{
	position: relative;
	top: 30px;
	left: 15%;
	height: 75%;
	width: 75%;
}

#place_help{
	position: relative;
	left: 30%;
    bottom: 600px;
    color: red;
}

input {
      width: 24px;
      height: 24px;
      -webkit-appearance: none;
      background: white;
      transition: 1s;
      position: relative;
 }

 input:checked[type="checkbox"] {
     background-color: #FF120C;
    }